.wp-block-video {
	// Remove the left and right margin the figure is born with.
	margin-left: 0;
	margin-right: 0;

	video {
		max-width: 100%;
	}

	@supports (position: sticky) {
		[poster] {
			object-fit: cover;
		}
	}

	&.aligncenter {
		text-align: center;
	}

	// Supply caption styles to videos, even if the theme hasn't opted in.
	// Reason being: the new markup, <figcaptions>, are not likely to be styled in the majority of existing themes,
	// so we supply the styles so as to not appear broken or unstyled in those themes.
	figcaption {
		@include caption-style();
	}
}

.block-library-video-tracks-editor > .components-popover__content {
	width: 360px;
}

.block-library-video-tracks-editor__tracks-informative-message {
	margin-left: $grid-unit-10;
}

.block-library-video-tracks-editor__track-list-track {
	display: flex;
	place-content: space-between;
	align-items: baseline;
}

.block-library-video-tracks-editor__single-track-editor-label-language {
	display: flex;
	margin-top: $grid-unit-20;
	& > .components-base-control {
		width: 50%;
	}
	& > .components-base-control:first-child {
		margin-right: $grid-unit-20;
	}
}

.block-library-video-tracks-editor__single-track-editor-kind-select {
	max-width: 240px;
}
